body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: "MyriadPro";
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button,
input {
    padding: 0;
}

.container {
    max-width: 1550px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
    margin-top: 212px;
    padding-top: 20px;
    padding-bottom: 200px;
    background-color: #f3f1f1;
}

/* Переменные и наборы стилей */

$main-color: #e7e6e6;
$second-color: #67be7e;
$hover-color: #faad3d;
:root {
    --big-text: 40px;
    --medium-text: 24px;
}
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin arrow($color) {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    border-bottom: 1px solid $color;
    border-right: 1px solid $color;
    transform: rotate(-45deg);
}

@mixin section($pixels, $pixel-media) {
    max-width: 1400px;
    margin: $pixels $pixel-media 0;
    display: flex;
}

.section {
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.section__small--first {
    @include section(170px, auto);
}

.section__small--second {
    @include section(150px, auto);
}

.section__small--third {
    @include section(230px, auto);
}

/* Хэдер */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 212px;
    width: 100%;
    z-index: 10;
}

.header__content {
    position: relative;
    height: inherit;
}

/* Модалка */

.header__modal-container {
    display: none;
    height: 612px;
    width: 1168px;
    position: absolute;
    top: 212px;
    box-sizing: border-box;
    z-index: -1;
}

.header__modal-container--big {
    max-width: 1403px;
    width: 100%;
}

.header__shadow {
    display: none;
    position: fixed;
    top: 48px;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(#000000, 0.5);
    z-index: 1;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(#000000, 0.5);
    z-index: -1;
}

.header__modal {
    height: inherit;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.header__modal-items {
    width: 399px;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    background-color: #ffffff;
    font-size: 18px;
    box-sizing: border-box;
}

.header__modal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    box-sizing: border-box;
    padding-left: 4.7vw;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    &::after {
        @include arrow(#b8b8b8);
        margin: 0 17px;
    }
    &:hover {
        &::after {
            @include arrow(#bae0a1);
        }
        color: $hover-color;
    }
    &:last-child {
        border-bottom: none;
    }
}

.header__modal-content {
    width: 328px;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.header__modal-content--big {
    flex-direction: row;
    justify-content: flex-start;
    width: 623px;
}

.header__modal-block {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header__modal-product {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    line-height: 1.7;
    span {
        cursor: pointer;
        &:hover {
            color: #fab249;
        }
    }
}

.header__modal-brands {
    padding: 22px 0 22px 30px;
    border-bottom: 1px solid #eeeeee;
    &:last-child {
        border-left: 1px solid #eeeeee;
        border-bottom: none;
        padding-top: 0;
    }
    span {
        color: #aaaaaa;
    }
    ul {
        font-size: 24px;
    }
    li {
        cursor: pointer;
        &:hover {
            color: #fab249;
        }
    }
}

.header__modal-countries {
    padding-top: 22px;
    padding-left: 30px;
}

.header__modal-name {
    color: #aaaaaa;
    margin-bottom: 10px;
}

.header__modal-country {
    display: flex;
    align-items: center;
    span {
        cursor: pointer;
        &:hover {
            color: #fab249;
        }
    }
    img {
        margin-right: 8px;
    }
}

.header__modal-info {
    @extend %center;
    flex-direction: column;
    width: 441px;
    height: inherit;
    background-color: #34a853;
    color: #ffffff;
    span {
        font-size: 24px;
    }
    img {
        margin-bottom: 45px;
    }
}

.header__modal-info--big {
    height: inherit;
    background-color: $hover-color;
}

.header__modal-btn {
    @extend %center;
    height: 35px;
    width: 129px;
    margin-top: 22px;
    background-color: $hover-color;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    border-radius: 5px;
}

.header__modal-btn--big {
    background-color: #191919;
}

.header__toptitle {
    width: 100%;
    height: 48px;
    background-color: #34a853;
}

.header__title {
    width: 100%;
    background-color: $main-color;
    height: 64px;
}

.header__bottomtitle {
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    box-shadow: 0 0 15px 0 #eaeaea;
}

.header__topmobile {
    display: none;
}

.header__bottommobile {
    display: none;
}

/* Топтайтл */

.toptitle__nav {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
    a {
        color: #ffffff;
    }
}

.toptitle__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
        content: "";
        display: block;
        margin: 0 29px;
        width: 1px;
        height: 28px;
        background-color: $second-color;
    }
    &:nth-child(n + 3) {
        &::after {
            display: none;
        }
    }
}

.toptitle__link {
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    white-space: pre;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}

.toptitle__contacts {
    display: flex;
    align-items: center;
    white-space: pre;
    height: 48px;
    padding: 0 20px;
    &:first-child {
        margin-left: 24px;
    }
    &:last-child {
        margin-right: 0;
    }
}

.toptitle__mail {
    margin-left: 8px;
}

.toptitle__number {
    margin-left: 3px;
    color: #ffffff;
}

/* Верхний тайтл модал*/

.toptitle__modal {
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    width: 755px;
    height: 364px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 60px;
    z-index: 5;
}

.toptitle__modal-block {
    display: flex;
}

.toptitle__modal-contacts {
    width: 430px;
    padding-left: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    span {
        &:first-child {
            font-size: 24px;
            font-weight: 400;
            color: #34a853;
        }
        &:nth-child(2) {
            color: #808080;
        }
    }
}

.toptitle__modal-items {
    margin-top: 30px;
    li {
        margin-bottom: 15px;
        font-size: 18px;
        display: flex;
        a {
            height: inherit;
            display: flex;
            align-items: center;
            color: #000000;
            margin-left: 7px;
            &:hover {
                border-bottom: 1px solid #b8b8b8;
            }
        }
    }
}

.toptitle__modal-title {
    margin-bottom: 20px;
}

.toptitle__modal-img {
    width: 26px;
}

.toptitle__modal-container {
    width: 325px;
    padding-right: 55px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.toptitle__modal-backcall {
    font-size: 24px;
    font-weight: 400;
}

.toptitle__modal-text {
    color: #808080;
}

.toptitle__modal-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    input {
        height: 28px;
        width: 100%;
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid #c4c4c4;
        padding-left: 10px;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 22px;
        &:focus {
            border-color: #ea9b28;
            outline: none;
        }
    }
    button {
        border: none;
        width: 133px;
        height: 45px;
        background-color: $hover-color;
        border-radius: 20px;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
        &:focus {
            outline: none;
        }
    }
}

/* Тайтл */

.title__container {
    max-width: 1550px;
    margin: 0 auto;
    height: inherit;
    display: flex;
}

.title__block {
    display: flex;
    align-items: center;
    height: inherit;
    max-width: 220px;
    width: 100%;
}

.title__name {
    font-size: 33px;
    margin-left: 8px;
    color: #000000;
}

.title__selector {
    display: flex;
    align-items: center;
    position: relative;
    width: 885px;
    height: inherit;
    margin-left: 89px;
    margin-right: 49px;
}

.title__info {
    display: flex;
    align-items: center;
    margin-right: 39px;
    height: inherit;
    max-width: 160px;
}

.title__infotext {
    margin-left: 5px;
    font-size: 14px;
    color: #777777;
}

.title__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 157px;
    width: 100%;
    height: inherit;
    &:hover {
        background-color: $hover-color;
        .basket__count {
            color: #ffffff;
        }
        .basket__summ {
            color: #ffffff;
        }
        .basket__cost {
            color: #ffffff;
        }
    }
}
/* Корзина тайтла */

.basket__left {
    @extend %center;
    flex-direction: column;
    margin-bottom: 7px;
    img {
        margin-top: -6px;
        margin-left: -2px;
    }
}

.basket__count {
    font-size: 14px;
    font-weight: 400;
    color: #ea8b00;
}

.basket__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.basket__summ {
    color: #777777;
    font-size: 14px;
}

.basket__cost {
    color: #000000;
    font-weight: 400;
}

/* селектор тайтла*/

.selector__name {
    @extend %center;
    padding: 0 10px 0 15px;
    height: 35px;
    background-color: #f1f1f1;
    margin-right: 1px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-weight: 400;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    &:after {
        content: "";
        display: block;
        border: 6px solid transparent;
        border-top: 6px solid #3c3c3c;
        margin-top: 6px;
        margin-left: 6px;
    }
}

.selector__block {
    position: absolute;
    display: none;
    top: 51px;
    width: 213px;
    height: 357px;
    background-color: #f1f1f1;
    li {
        cursor: pointer;
        &:hover {
            color: #41ad5e;
        }
    }
}

.selector__search {
    max-width: 770px;
    width: 100%;
    height: 35px;
    position: relative;
}

.selector__input {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: none;
    &:focus {
        outline: none;
    }
}

.selector__btn {
    @extend %center;
    width: 49px;
    background-color: $hover-color;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 35px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &:focus {
        outline: none;
    }
}

/* Нижний тайтл */

.bottomtitle__container {
    display: flex;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
    height: inherit;
}

.bottomtitle__items {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    width: 100%;
}

.bottomtitle__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #373737;
    cursor: pointer;
}

/* Боковая панель */

.aside {
    width: 300px;
    margin-right: 21px;
    background-color: #ffffff;
}

.aside__title {
    padding: 35px 0 15px 28px;
}

.aside__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 28px;
    height: 45px;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    cursor: pointer;
    &::after {
        @include arrow(#3c3c3c);
        margin-right: 21px;
    }
    &:last-child {
        border-bottom: none;
    }
}

/* Слайдер */

.section__slider {
    display: flex;
}

.slider {
    display: flex;
    flex-direction: column;
    max-width: 902px;
    width: 100%;
    height: 476px;
    background-color: #282828;
}

.slider__content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 60px 80px 0 70px;
    img {
        max-width: 256px;
        width: 100%;
    }
}

.slider__info {
    max-width: 450px;
}

.slider__portfolio {
    color: #777777;
    margin-bottom: 75px;
}

.slider__header {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    line-height: 1.1;
}

.slider__title {
    font-size: var(--big-text);
    margin-bottom: 20px;
    white-space: pre-line;
}

.slider__text {
    font-size: 18px;
    margin-bottom: 65px;
}

.slider__link {
    height: 35px;
    width: 129px;
    background-color: $hover-color;
    border-radius: 15px;
    font-weight: 400;
    font-size: 18px;
    a {
        @extend %center;
        width: 100%;
        height: 100%;
        color: #ffffff;
    }
}

.slider__btn {
    opacity: 0 !important;
    pointer-events: none;
}

/* Распродажа */

.sale {
    display: flex;
    box-sizing: border-box;
    width: 298px;
    height: 474px;
    border: 2px solid $hover-color;
    background-color: #ffffff;
    margin-left: 21px;
}

.sale__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 30px;
    margin-bottom: 53px;
}

.sale__toptitle {
    margin-top: 10px;
    font-size: 18px;
    color: #191919;
}

.sale__title {
    font-size: var(--big-text);
    font-weight: 400;
    color: #191919;
}

.sale__link {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
    color: $hover-color;
    &::after {
        @include arrow($hover-color);
        margin-left: 10px;
    }
}

/* Брэнды */

.brands {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands__item {
    @extend %center;
    width: calc(100% / 6);
    box-sizing: border-box;
    margin-left: 68px;
    a {
        color: #000000;
    }
    &::after {
        content: "";
        display: block;
        width: 2px;
        height: 71px;
        margin-left: 68px;
        background-color: #f8f8f8;
    }
    &:last-child {
        margin-left: 0;
        &::after {
            display: none;
        }
    }
}

/* Предложения */

.offers {
    box-sizing: border-box;
    max-width: 1068px;
    width: 100%;
    height: 432px;
    margin-right: 20px;
    background-color: #ffffff;
}

.offers__link {
    display: flex;
    height: 63px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    a {
        display: flex;
        align-items: center;
        height: inherit;
        color: #000000;
        padding-left: 30px;
        font-size: var(--medium-text);
        &::after {
            @include arrow(#bdbdbd);
            margin-left: 20px;
        }
    }
}

.offers__content {
    display: flex;
    box-sizing: border-box;
}

.offers__block {
    @extend %center;
    flex-direction: column;
    width: 100%;
    height: 369px;
    border-right: 1px solid #bdbdbd;
    color: #000000;
    &:last-child {
        border-right: none;
    }
}

.offers__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offers__flag {
    margin: 23px 0 10px;
}

.offers__cost {
    font-weight: 700;
    margin-bottom: 5px;
}

.offers__mobile-img {
    display: none;
}

/* Сервис */

.services {
    box-sizing: border-box;
}

.services__block {
    height: 432px;
    max-width: 456px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.services__content {
    display: flex;
    flex-direction: column;
    height: inherit;
    background-color: $hover-color;
    line-height: 1.1;
}

.services__title {
    display: flex;
    flex-direction: column;
    padding-left: 53px;
    color: #ffffff;
    a {
        color: #ffffff;
    }
}

.services__header {
    font-size: var(--big-text);
    font-weight: 400;
}

.services__text {
    margin-bottom: 30px;
}

.services__link {
    display: flex;
    align-items: center;
    &::after {
        @include arrow(#ffffff);
        margin-left: 10px;
    }
}

/* Новости */

.news {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.news__content {
    display: flex;
    justify-content: space-between;
}

.news__head {
    width: 100%;
    font-size: var(--big-text);
    font-weight: 400;
    margin-bottom: 55px;
}

.news__block {
    max-width: 489px;
    margin-right: 100px;
}

.news__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news__info--big {
    margin-top: 25px;
}

.news__company {
    color: #34a853;
}

.news__date {
    color: #7f7f7f;
}

.news__title {
    font-size: var(--medium-text);
    font-weight: 400;
    margin-bottom: 15px;
    white-space: pre-line;
}

.news__text {
    white-space: pre-line;
    margin-bottom: 55px;
}

.news__btn {
    @extend %center;
    height: 35px;
    width: 167px;
    box-sizing: border-box;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 15px;
}

.news__items {
    display: flex;
    flex-direction: column;
}

.news__item {
    display: flex;
    align-items: flex-start;
    img {
        margin-right: 20px;
    }
}

/* Рекомендации */

.recommendation {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.1;
}

.recommendation__head {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.recommendation__header {
    font-size: var(--big-text);
    font-weight: 400;
}

.recommendation__bottomheader {
    margin-top: 25px;
    margin-bottom: 65px;
    white-space: pre-line;
    color: #777777;
}

.recommendation__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recommendation__block {
    display: flex;
    justify-content: space-between;
    height: 483px;
    margin-bottom: 9px;
}

.recommendation__oven {
    display: flex;
    align-items: flex-end;
    background-color: #282828;
    width: 50%;
}

.recommendation__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 70px;
}

.recommendation__toptitle {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
}

.recommendation__toptitle--black {
    color: #000000;
}

.recommendation__toptitle--center {
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    margin-bottom: 15px;
}

.recommendation__title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.recommendation__title--black {
    color: #000000;
}

.recommendation__title--center {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.recommendation__text {
    color: #777777;
    white-space: pre-line;
}

.recommendation__text--center {
    white-space: pre-line;
    text-align: center;
    margin-bottom: 40px;
}

.recommendation__stainless {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #ffffff;
    width: 25%;
    margin-left: 10px;
    img {
        margin-bottom: 25px;
    }
}

.recommendation__stainless-mobile {
    display: none;
}

.recommendation__block--second {
    display: flex;
    justify-content: space-between;
    height: 746px;
}

.recommendation__steam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 595px;
    width: 100%;
    margin-right: 13px;
    background-color: #ffffff;
}

.recommendation__subblock {
    max-width: 786px;
    width: 100%;
}

.recommendation__termal {
    display: flex;
    align-items: center;
    width: 100%;
    height: 420px;
    background-color: #282828;
    margin-bottom: 10px;
}

.recommendation__fridge {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 316px;
    background-color: #ffffff;
}

.recommendation__strong {
    white-space: pre-line;
}

/* Сео */

.seo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1.1;
}

.seo__info {
    max-width: 840px;
    width: 100%;
}

.seo__toptitle {
    font-size: var(--big-text);
    white-space: pre-line;
}

.seo__toptext {
    font-size: 18px;
    white-space: pre-line;
    margin: 30px 0 35px;
}

.seo__bottomtitle {
    font-size: var(--big-text);
    white-space: pre-line;
}

.seo__bottomtext {
    font-size: 18px;
    white-space: pre-line;
    margin: 30px 0 40px;
}

.seo__btn {
    @extend %center;
    width: 49px;
    height: 49px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: #282828;
    font-size: var(--medium-text);
    color: #ffffff;
    &:focus {
        outline: none;
    }
}

.seo__company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    line-height: 1.2;
}

.seo__company-toptitle {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
}

.seo__company-name {
    font-size: var(--big-text);
    font-weight: 40;
}

.seo__company-text {
    color: #777777;
}

.seo__company-group {
    font-size: var(--medium-text);
    font-weight: 400;
}

.seo__company-bottomtitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

/* Клиенты */

.clients {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.clients__title {
    font-size: var(--big-text);
    font-weight: 400;
    text-align: center;
    margin-bottom: 75px;
}

.clients__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.1;
    font-size: 14px;
}

.clients__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: calc(100% / 6);
    height: 135px;
    margin-bottom: 80px;
    text-align: center;
    img {
        filter: grayscale(1);
        &:hover {
            transition: 0.1s filter linear;
            filter: grayscale(0);
        }
    }
}

.clients__item--notext {
    justify-content: center;
}

.clients__text {
    white-space: pre-line;
}

.clients__btn {
    display: none;
}

/* Футер */

.footer {
    width: 100%;
    height: 606px;
}

.footer__topsection {
    width: 100%;
    height: 482px;
    display: flex;
    background-color: #282828;
}

.footer__bottomsection {
    width: 100%;
    height: 124px;
    display: flex;
    background-color: #1f1f1f;
}

.footer__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.footer__block {
    max-width: 25%;
    width: 100%;
    padding-top: 90px;
}

.footer__block-mobile {
    display: none;
}

.footer__phone-plus {
    display: none;
}

.footer__title {
    font-size: var(--medium-text);
    color: #777777;
}

.footer__items {
    margin-top: 25px;
    a {
        color: #ffffff;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    line-height: 1.4;
    a {
        color: #ffffff;
    }
    span {
        color: #ffffff;
    }
}

.footer__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__content {
    display: flex;
    align-items: center;
}

.footer__company {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.footer__name {
    color: #ffffff;
    font-size: var(--medium-text);
    font-weight: 400;
}

.footer__bottom {
    color: #777777;
}

.footer__dev {
    color: #ffffff;
}

/* Медиа */

@media (max-width: 1550px) {
    body {
        line-height: 1.4;
    }

    :root {
        --big-text: 34px;
        --medium-text: 22px;
    }

    .toptitle__nav {
        justify-content: space-between;
    }

    .toptitle__block {
        width: 100%;
        &::after {
            margin: 0 0.7vw 0 0.6vw;
        }
        &:first-child {
            max-width: 350px;
            margin-left: 0.7vw;
        }
        &:last-child {
            margin-right: 0.7vw;
        }
    }

    .toptitle__link {
        padding: 0 1%;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    .toptitle__contacts {
        padding: 0 1%;
    }

    .title__block {
        margin-left: 10px;
    }

    .title__selector {
        margin-left: 45px;
    }

    .bottomtitle__items {
        margin: 0 5px;
    }

    .section {
        margin: 0 10px 20px;
    }

    .container {
        margin: 0 10px 20px;
    }

    .section__small--first {
        @include section(140px, 20px);
    }

    .section__small--second {
        @include section(120px, 20px);
    }

    .section__small--third {
        @include section(200px, 20px);
    }

    .slider__content {
        padding: 40px 50px 0;
    }

    .sale__content {
        margin-left: 15px;
        margin-bottom: 25px;
    }

    .brands__item {
        margin-left: 35px;
        &::after {
            margin-left: 35px;
        }
    }

    .news__block {
        margin-right: 50px;
    }

    .footer__block {
        display: flex;
        justify-content: center;
    }

    .footer__content {
        margin-left: 10px;
    }

    .footer__dev {
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    :root {
        --big-text: 32px;
        --medium-text: 22px;
    }

    /* Хэдер */

    .header {
        position: initial;
        height: 182px;
    }

    .header__toptitle {
        display: none;
    }

    .header__title {
        display: none;
    }

    .header__bottomtitle {
        display: none;
    }

    .header__topmobile {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100px;
        background-color: #f1f1f1;
        border-bottom: 1px solid #e5e5e5;
    }

    .header__mobilebtn {
        max-width: 73px;
        min-width: 40px;
        margin-right: 4vw;
        img {
            width: 100%;
        }
    }

    .header__mobilehead-img {
        max-width: 55px;
        min-width: 40px;
        width: 100%;
    }

    .header__mobilesearch {
        max-width: 50px;
        min-width: 40px;
        img {
            width: 100%;
        }
    }

    .header__phone {
        margin-left: 5.33vw;
        margin-right: 4.66vw;
        max-width: 45px;
        min-width: 40px;
        img {
            width: 100%;
        }
    }

    .header__mobiletitle {
        font-size: 4vw;
        font-weight: 400;
    }

    .header__mobiletext {
        white-space: pre;
        font-size: 2.4vw;
    }

    .header__mobileinfo {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 1.33vw;
        margin-right: 16vw;
        line-height: 1.1;
    }

    .header__mobilehead {
        img {
            max-width: 55px;
            width: 100%;
        }
    }

    .header__mobilecontainer {
        display: flex;
        align-items: flex-end;
        margin: 1vw 4vw;
    }

    .header__bottommobile {
        display: flex;
        height: 82px;
        background-color: #f1f1f1;
    }

    /* Корзина */

    .basket__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3.33vw;
        max-width: 56px;
        min-width: 35px;
        padding-bottom: 5px;
        span {
            color: #fda11c;
            margin-bottom: -10px;
        }
        img {
            width: 100%;
        }
    }

    .bottomtitle__span {
        display: flex;
        width: 100%;
        margin: 0 4vw;
        justify-content: space-between;
        align-items: center;
        &::after {
            content: "";
            display: block;
            height: 7px;
            width: 7px;
            border-bottom: 1px solid #8f8f8f;
            border-right: 1px solid #8f8f8f;
            transform: rotate(-45deg);
        }
    }

    .main {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 150px;
    }

    .aside {
        display: none;
    }

    .container {
        margin: 0;
        flex-direction: column;
    }

    .section {
        margin: 0 4vw 4vw;
    }

    .section__small--first {
        display: none;
    }

    .section__small--second {
        margin-top: 16vw;
    }

    .section__small--third {
        margin: 10.66vw 4vw 0;
    }

    /* Слайдер */

    .section__slider {
        flex-direction: column;
        width: 100%;
    }

    .slider {
        justify-content: space-between;
        height: 74.13vw;
        width: 100%;
    }

    .slider__content {
        padding: 12vw 4vw 0 4vw;
        width: initial;
    }

    .slider__phonecontent {
        max-width: 200px;
        width: 100%;
    }

    .slider__info {
        min-width: 230px;
        max-width: 370px;
        width: 100%;
    }

    .slider__portfolio {
        margin-bottom: 6.66vw;
    }

    .slider__title {
        line-height: 1;
    }

    .slider__text {
        margin-bottom: 4.66vw;
    }

    /* Распродажа */

    .sale {
        margin: 4vw;
        width: 92%;
        box-sizing: border-box;
    }

    .sale__content {
        justify-content: center;
        margin-left: 8vw;
        img {
            width: 120px;
        }
    }

    .sale__toptitle {
        font-weight: 700;
        font-size: 25px;
    }

    .sale__title {
        font-size: 50px;
    }

    .sale__link {
        font-size: 30px;
        margin-top: 25px;
    }

    /* Брэнды */

    .brands {
        flex-wrap: wrap;
        height: initial;
    }

    .brands__item {
        height: 170px;
        width: 40%;
        margin: 0;
        align-items: center;
        margin-left: 8vw;
        a {
            width: 100%;
            font-size: 4vw;
        }
        img {
            width: 100%;
        }
        &::after {
            margin-left: 8vw;
        }
    }

    /* Предложения */

    .offers {
        margin: 0 4vw 4vw;
        width: initial;
        height: initial;
    }

    .offers__content {
        flex-direction: column;
    }

    .offers__block {
        flex-direction: initial;
        border-right: none;
        border-bottom: 1px solid #f3f2f2;
    }

    .offers__img {
        max-width: 240px;
        margin-left: 6.66vw;
        margin-right: 9.33vw;
        img {
            width: 100%;
        }
    }

    .offers__text {
        align-items: flex-start;
        font-size: 4vw;
    }

    .offers__flag {
        margin-bottom: 3.33vw;
    }

    .offers__cost {
        margin: 3.33vw 0;
    }

    .offers__PC-img {
        display: none;
    }

    .offers__mobile-img {
        display: flex;
    }

    /* Сервис */

    .services {
        height: 550px;
    }

    .services__title {
        padding-left: 4.66vw;
    }

    .services__text {
        margin: 20px 0 30px;
    }

    /* Рекоммендации */

    .recommendation__content {
        img {
            max-height: 400px;
            height: 100%;
            max-width: 230px;
            width: 100%;
        }
    }

    .recommendation__header {
        font-size: 6.66vw;
    }

    .recommendation__bottomheader {
        margin: 4vw 0 8.66vw;
        font-size: 4vw;
        white-space: initial;
    }

    .recommendation__oven {
        width: 100%;
    }

    .oven__img {
        width: 30%;
        margin: 20px 1.33vw 20px 0;
        img {
            width: 100%;
        }
    }

    .recommendation__info {
        width: 70%;
        box-sizing: border-box;
        margin-left: 6vw;
    }

    .recommendation__text {
        font-size: 3.33vw;
        white-space: initial;
    }

    .recommendation__toptitle {
        font-size: 4vw;
        margin-bottom: 2.66vw;
    }

    .recommendation__title {
        font-size: 6.66vw;
        margin-bottom: 8vw;
    }

    .recommendation__stainless {
        display: none;
    }

    .recommendation__stainless-mobile {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        background-color: #ffffff;
    }

    .recommendation__block {
        flex-direction: column;
        justify-content: initial;
        height: initial;
    }

    .recommendation__toptitle--center {
        margin-bottom: 3.33vw;
        font-size: 4vw;
    }

    .recommendation__title--center {
        margin-bottom: 8vw;
        font-size: 5.33vw;
    }

    .recommendation__text--center {
        font-size: 3.33vw;
        margin-bottom: 0;
        white-space: initial;
        text-align: start;
    }

    .recommendation__termal {
        height: initial;
    }

    .recommendation__steam {
        display: none;
    }

    .recommendation__fridge {
        display: none;
    }

    /* Термал */

    .termal__img {
        width: 30%;
        margin: 4vw 0;
    }

    /* Нержавейка */

    .stainless__mobile {
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 8.66vw;
    }

    .stainless__mobile-img {
        width: 30%;
        margin: 5.33vw 4vw 5.33vw 0;
        img {
            width: 100%;
        }
    }

    .stainless__mobile-secondimg {
        width: 30%;
        margin: 5.33vw 0;
        img {
            width: 100%;
        }
    }

    /* Сео */

    .seo {
        flex-direction: column-reverse;
    }

    .seo__btn {
        width: 100px;
        height: 100px;
    }

    .seo__toptitle {
        white-space: initial;
        font-size: 6.66vw;
    }

    .seo__toptext {
        margin-top: 10vw;
        margin-bottom: 13.3vw;
    }

    .seo__bottomtitle {
        display: none;
    }

    .seo__bottomtext {
        display: none;
    }

    .seo__company {
        margin: 0 0 10.66vw 20vw;
    }

    .seo__company-toptitle {
        margin: 8vw 0 8.66vw;
    }

    .seo__company-bottomtitle {
        margin-bottom: 6.66vw;
    }

    .seo__company-name {
        font-size: 6.66vw;
    }

    .seo__company-text {
        font-size: 3.33vw;
    }

    .seo__company-group {
        font-size: 5.33vw;
    }

    .seo__company-text {
        font-size: 4vw;
    }

    .seo__infoitems {
        font-size: 4vw;
    }

    /* Клиенты */

    .clients__item {
        width: calc(100% / 2);
        &:nth-child(n + 7) {
            display: none;
        }
    }

    .clients__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }

    /* Футер */

    .footer__container {
        flex-direction: column;
        padding: 0 6.27vw;
    }

    .footer__block {
        max-width: 100%;
        height: 96px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border-bottom: 1px solid #4b4b4b;
    }

    .footer__block-mobile {
        display: flex;
        max-width: 100%;
        height: 96px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .footer__phone-plus {
        display: initial;
        margin: 0 3px;
        &:focus {
            outline: none;
        }
        border: none;
        background-color: inherit;
        color: #ffffff;
    }

    .footer__title {
        font-size: 30px;
        color: #ffffff;
    }

    .footer__items {
        display: none;
    }

    .footer__contacts {
        display: none;
    }

    .footer__bottomsection {
        min-height: 140px;
        height: 43.75vw;
        max-height: 260px;
    }

    .footer__end {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 42px;
    }

    .footer__content {
        margin-bottom: 39px;
    }

    .footer__name {
        font-size: 6.66vw;
    }

    .footer__bottom {
        font-size: 4vw;
        line-height: 1;
    }

    .footer__dev {
        font-size: 5.33vw;
        margin-right: 0;
        margin-bottom: 39px;
        line-height: 1;
    }
}

@media (max-width: 515px) {
    :root {
        --big-text: 5.05vw;
        --medium-text: 3.5vw;
    }
    .header {
        height: 162px;
    }
    .header__topmobile {
        height: 80px;
    }
    .header__mobileinfo {
        margin-right: 6vw;
    }
    .header__mobilebtn {
        max-width: 50px;
        min-width: 25px;
    }
    .main {
        padding-bottom: 100px;
    }
    .basket__mobile {
        margin-right: 5px;
        span {
            margin-bottom: -5px;
        }
        min-width: 25px;
    }
    .header__mobilesearch {
        min-width: 25px;
    }
    .header__phone {
        min-width: 25px;
    }
    .header__mobilehead {
        min-width: 25px;
    }
    .header__mobiletitle {
        font-size: 20px;
    }
    .header__mobiletext {
        font-size: 10px;
    }
    .slider__text {
        font-size: 3.5vw;
    }
    .slider__link {
        height: 25px;
        width: 100px;
        font-size: 3.5vw;
    }
    .slider__phonecontent {
        align-self: center;
        max-width: 155px;
        width: 100%;
    }
    .sale__title {
        font-size: 44px;
    }
    .sale__link {
        font-size: 25px;
    }
    .brands__item {
        height: 100px;
    }
    .offers__block {
        height: 220px;
    }
    .services__content {
        max-height: 382px;
        img {
            height: 202px;
        }
    }
    .services {
        height: 382px;
    }
    .services__text {
        margin: 3.33vw 0 5.33vw;
    }
    .clients__item {
        margin-bottom: 40px;
    }
    .clients__btn {
        font-size: 22px;
    }
    .recommendation__title {
        font-size: 5.5vw;
    }
    .seo__btn {
        width: 50px;
        height: 50px;
    }
    .seo__company {
        margin-left: 8.66vw;
    }
    .footer__content {
        margin-bottom: 19px;
    }
    .footer__dev {
        margin-bottom: 19px;
    }
}
